<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="prefix" default="" />

    

    <xacro:include filename="gf3.urdf" />

    <link name="base_link"/>
    <joint name="base_link-base_link_inertia" type="fixed">
      <parent link="base_link" />
      <child link="base_link_inertia" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>




    <xacro:include filename="ros2_control.xacro" />
    <xacro:rrbot_ros2_control
    name="GF3" prefix="$(arg prefix)" />

    
</robot>