<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="rrbot_ros2_control" params="name prefix">

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>gf3_hardware/Gf3HardwareInterface</plugin>
                <param name="example_param_hw_start_duration_sec">0</param>
                <param name="example_param_hw_stop_duration_sec">3.0</param>
                <param name="example_param_hw_slowdown">100</param>
            </hardware>    
            <joint name="shoulder_1-2">
                    <command_interface name="position">
                        <param name="min">-3.1416</param>
                        <param name="max">3.1416</param>
                    </command_interface>
                    <state_interface name="position"/>
                </joint>
                <joint name="shoulder_2-3">
                    <command_interface name="position">
                        <param name="min">-0.5236</param>
                        <param name="max">1.5708</param>
                    </command_interface>
                    <state_interface name="position"/>
                </joint>
                <joint name="shoulder_3-upper">
                    <command_interface name="position">
                        <param name="min">-1.5708</param>
                        <param name="max">1.5708</param>
                    </command_interface>
                    <state_interface name="position"/>
                </joint>
                <joint name="upper-elbow">
                    <command_interface name="position">
                        <param name="min">-1.5708</param>
                        <param name="max">1.5708</param>
                    </command_interface>
                    <state_interface name="position"/>
                </joint>
                <joint name="elbow-lower">
                    <command_interface name="position">
                        <param name="min">-1.5708</param>
                        <param name="max">1.5708</param>
                    </command_interface>
                    <state_interface name="position"/>
                </joint>
        </ros2_control>

    </xacro:macro>

</robot>